---
import { getCollection } from 'astro:content';

const pages = await getCollection('pages');
---
<ul>
  {pages.map((page) => (
    <li key={page.data.id}>
      <a href={`/pages/${page.data.slug}/`}>{page.data.title}</a>
      {page.data.children.length > 0 && (
        <ul>
          {page.data.children.map((child) => (
            <li key={child.id}>
              <a href={`/${child.slug}/`}>{child.title}</a>
            </li>
          ))}
        </ul>
      )}
    </li>
  ))}
</ul>
